.product {

    margin-bottom: 30px;
}

.product--logo{
     width: 150px;
     height: 150px;
 }

.well-border-circle{
    border-radius: 100px;
}
.well-circle{
     text-align: center;
     max-width: 60px;
     max-height: 80px;
}

.well-catgory:hover{
    cursor: pointer;
    background-color: #e1e1e1;
}

.well-catgory{
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.glyphicon{
    font-size: 8px;
}