<!-- Modal -->
<div class="modal fade" id="modalSignup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You're almost there</h4>
            </div>
            <div class="modal-body">
                <p>Please check your email for a link to complete your registration, and join our marketplace</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goToLogin()">OK</button>
            </div>
        </div>
    </div>
</div>

<navbar-component></navbar-component>

<div class="container">
    <div class="row">


        <div class="col-md-6">

            <h2>{{'Register for a Customer Account'| translate}}</h2>
            <p>{{'Manage your purchases and licenses with an account'| translate}}</p>

            <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit(myForm.value)"
                  novalidate>

                <fieldset class="form-group">
                    <label for="personal_name"> {{'Name' | translate}}</label>
                    <input type="text" class="form-control" placeholder="Name"
                           id="personal_name"
                           formControlName="personal_name">
                    <div class='validation-error' *ngIf='myForm.controls.personal_name.touched'>
                        <div *ngIf="myForm.controls.personal_name.hasError('required')">Name is required</div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">{{'Work E-mail' | translate}}</label>
                    <input type="email" class="form-control" placeholder="Mail"
                           id="email"
                           formControlName="email">
                    <control-messages [control]="myForm.controls.email"></control-messages>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">{{'Password'|translate}}</label>
                    <input type="password" class="form-control" placeholder="Password at least 8 characters"
                           minlength='8'
                           id="password"
                           formControlName="password">
                    <control-messages [control]="myForm.controls.password"></control-messages>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password_confirmation">{{'Confirm Password'| translate}}</label>
                    <input type="password" class="form-control" placeholder="Confirm Password"
                           id="password_confirmation"
                           formControlName="password_confirmation">
                    <control-messages [control]="myForm.controls.password_confirmation"></control-messages>
                </fieldset>

                <fieldset class="form-group">
                    <label for="company">{{'Company Name'|translate}}</label>
                    <input type="text" class="form-control" placeholder="Company"
                           id="company"
                           formControlName="company_name">
                    <div class='validation-error' *ngIf="myForm.controls.company_name.touched">
                        <div *ngIf="myForm.controls.company_name.hasError('required')">company name is required
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="country">{{'Country'|translate}}</label>
                    <select class="form-control"
                            id="country"
                            formControlName="country"
                            (change)="onSelectCountry($event.target.value)">
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    <div class='validation-error' *ngIf="myForm.controls.country.touched">
                        <div *ngIf="myForm.controls.country.hasError('required')">country name is required</div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div *ngIf="!citytype" [class.hidden]="disabled">
                        <label>{{'City'|translate}}</label>
                        <select class="form-control"
                                formControlName="city"
                        >
                            <option *ngFor="let city of citys" [value]="city?.name">{{city.name}}</option>
                        </select>

                    </div>
                    <div *ngIf="!statetype" [class.hidden]="disabled">
                        <label>State</label>
                        <select class="form-control"
                                formControlName="state"
                        >
                            <option *ngFor="let state of states" [value]="state?.name">{{state.name}}</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div *ngIf="citytype">
                        <label>{{'City'|translate}}</label>
                        <select class="form-control"
                                formControlName="city"
                                [disabled]="!countrySelected">
                            <option *ngFor="let city of citys" [value]="city?.name">{{city.name}}</option>
                        </select>

                    </div>
                    <div *ngIf="statetype">
                        <label>{{'State'|translate}}</label>
                        <select class="form-control"
                                formControlName="state"
                                [disabled]="!countrySelected">
                            <option *ngFor="let state of states" [value]="state?.name">{{state.name}}</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset class="form-group"
                [class.hidden]="true">
                    <input type="text" class="form-control"
                           formControlName="role">
                </fieldset>

                <!--<re-captcha (captchaResponse)="handleCorrectCaptcha($event)"-->
                <!--[site_key]="'6LdLzCcTAAAAAA9mjgJ0uo0nHvoYNHiVCuPn-g-f'"></re-captcha>-->
                <!--<button class='btn btn-primary' type='submit' [disabled]='!myForm.valid || !fCaptchaPassed' data-toggle="modal" data-target="#myModal">Sign Up</button><button class='btn btn-primary' type='submit' [disabled]='!myForm.valid || !fCaptchaPassed' data-toggle="modal" data-target="#myModal">Sign Up</button>-->
                <button class='btn btn-primary' type='submit'
                        [disabled]='!myForm.valid' data-toggle="modal"
                        data-target="#modalSignup">{{'Sign Up'|translate}}
                </button>

            </form>


        </div>

        <div class="col-md-6">

            <div class="row row--content">
                <h5 class="well--title">{{'Benefits' | translate}}</h5>

                <div class="col-md-6">
                    <img class="img img-responsive"
                         style="margin-top: 20px"
                         src="http://fakeimg.pl/350x200/?text=Benefits">
                </div>
                <div class="col-md-6">
                        <p>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et
                            viverra justo commodo. Proin sodales pulvinar tempor.
                            Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                            felis tellus mollis orci, sed rhoncus sapien nunc eget.
                        </p>
                </div>

            </div>

        </div>


    </div>

</div>