<!-- Modal -->
<div class="modal fade" id="modalForgotPassword" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button *ngIf="success"
                type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You're almost there</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="!success">Waiting...</p>
        <p *ngIf="success">Please check your email for a link to complete your registration, and join our marketplace</p>
      </div>
      <div class="modal-footer">
        <button [disabled]="!success"
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="goToLogin()">OK</button>
      </div>
    </div>
  </div>
</div>

<navbar-component></navbar-component>

<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2">
      <h2>Forgotten account?</h2>
      <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit(myForm.value)"
            novalidate>

        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="email"
                 id="email"
                 formControlName="email">
          <div class='validation-error' *ngIf="myForm.controls.email.touched">
            <div *ngIf="myForm.controls.email.hasError('required')">email is required</div>
            <div *ngIf="myForm.controls.email.hasError('invalidEmail')">email is invalid</div>
          </div>
        </fieldset>

        <button class='btn btn-primary' type='submit'
                data-toggle="modal"
                data-target="#modalForgotPassword"
                [disabled]='!myForm.valid'>Submit</button>
      </form>
    </section>
  </div>
</div>