<navbar-component></navbar-component>

<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2">
      <h2>Forgotten account?</h2>
      <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onSubmit(myForm.value)"
            novalidate>

        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="email"
                 id="email"
                 formControlName="email">
          <div class='validation-error' *ngIf="myForm.controls.email.touched">
            <div *ngIf="myForm.controls.email.hasError('required')">email is required</div>
            <div *ngIf="myForm.controls.email.hasError('invalidEmail')">email is invalid</div>
          </div>
        </fieldset>

        <button class='btn btn-primary' type='submit' [disabled]='!myForm.valid'>Submit</button>
      </form>
    </section>
  </div>
</div>