<navbar-component></navbar-component>

<div class="container">
  <div class="row">
    <section class="col-md-8 col-md-offset-2">
      <h2>Enter your new password</h2>
      <form [formGroup]="myForm"
            (ngSubmit)="myForm.valid && onSubmit(myForm.value)"
            autocomplete="off" novalidate>

        <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password at least 8 characters" minlength='8'
                 id="password"
                 formControlName="password">
          <div class='validation-error' *ngIf="myForm.controls.password.touched">
            <div *ngIf="myForm.controls.password.hasError('required')">Password is required</div>
            <div *ngIf="myForm.controls.password.hasError('minlength')">Password isn't long enough
              (Minimum 8 in length)
            </div>
            <div *ngIf="myForm.controls.password.hasError('invalidPassword')">Password is invalid (At
              least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character)
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label for="password_confirmation">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password"
                 id="password_confirmation"
                 formControlName="password_confirmation">
          <div class='validation-error' *ngIf="myForm.controls.password_confirmation.touched">
            <div *ngIf="myForm.controls.password_confirmation.hasError('mismatchedPasswords')">
              Passwords do not match
            </div>
          </div>
        </fieldset>


        <button class='btn btn-primary' type='submit' [disabled]='!myForm.valid' >Submit</button>
      </form>
    </section>
  </div>
</div>
