*:focus {outline:none !important}


/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin-bottom: 30px;
}

.well{
  border: none;
  -webkit-box-shadow: none;
  box-shadow:none;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

a{
  cursor: pointer;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

.loading{
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

textarea {
  resize: none;
}

.label{
  display: inline-table;
}

.panel-default{
  border: none;
}
.panel-default .panel-heading{
  background: none;
}

/*.panel-heading .accordion-toggle:after {*/
  /*!* symbol for "opening" panels *!*/
  /*font-family: 'Glyphicons Halflings';  !* essential for enabling glyphicon *!*/
  /*content: "\e114";    !* adjust as needed, taken from bootstrap.css *!*/
  /*float: right;        !* adjust as needed *!*/
  /*color: grey;         !* adjust as needed *!*/
/*}*/
/*.panel-open:after {*/
  /*!* symbol for "collapsed" panels *!*/
  /*content: "\e080";    !* adjust as needed, taken from bootstrap.css *!*/
/*}*/