.product {

    margin-bottom: 30px;
}

.product--logo{
     width: 150px;
     height: 150px;
 }


.well{
    border-radius: 100px;
}
.well--circle{
     text-align: center;
     max-width: 60px;
     max-height: 80px;
 }

