<navbar-customer-component></navbar-customer-component>
<div class="container">
    <div class="row">
        <h1>{{'Dashboard' | translate}}</h1>
        <button class="btn btn-primary" style="float: right">{{'Edit Profile'| translate}}</button>
    </div>

    <div class="row">
        <h4 style="margin-left: 15px;">{{'New Services'| translate}}</h4>
        <div class="col-md-4">
            <div class="well">
                <h4>{{'Featured Service'| translate}}</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>{{'Featured Service' | translate}}</h4>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">{{'Find Services' | translate}}</button>

        </div>
    </div>


    <div class="row">
        <h4 style="margin-left: 15px;">{{'My Services' | translate}}</h4>
        <div class="col-md-4">
            <div class="well">
                <h4>{{'Wishlist' | translate}}</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>{{'Review a Service' | translate}}</h4>
                <button class="btn btn-primary">{{'Review'| translate}}</button>
            </div>
        </div>
    </div>
</div>
