<div class="modal fade" id="modalLog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Log</h4>
            </div>
            <div class="modal-body" *ngFor="let log of logs">
                <p><b>{{log?.date}}</b>| Listing {{log?.action}} by {{log?.by}} from {{log?.companyname}}</p>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="goToLogin()">OK</button>
            </div>
        </div>
    </div>
</div>

<navbar-admin-component></navbar-admin-component>
<div class="container">
    <a (click)="goToDashboard()">Dashboard</a>
    <h1>Settings</h1>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#category">Categories
                    <span class="badge">{{product_new_length}}</span></a></li>
                <li>
            </ul>

            <!--editMode-->
            <div class="tab-content">

                <div id="category" class="tab-pane fade in active">
                    <div class="row">

                        <!--Categoty-->
                        <div class="col-md-4">
                            <div class="title-tag">
                            <h4>Categoty</h4>
                            <button class="btn btn-danger btn-delete" (click)="deleteCategoryTag()">Delete</button>
                            </div>
                            <div class="row" *ngFor="let category of categoriesTag">
                                <div class="well well-tag"
                                     [style.background-color]="getStyle(category.name,'category')"
                                     (click)="onSelectedCategoryTag(category.name)">
                                    {{category.name}}
                                </div>
                            </div>
                            <div class="input-group title-tag">
                                <input type="text" class="form-control"
                                       [(ngModel)]="valueCategory"
                                       #newCategoryTag>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            (click)="onAddCategoryTag(newCategoryTag.value)">Add</button>
                                </span>
                            </div>
                        </div>

                        <!--Department-->
                        <div class="col-md-4">
                            <div class="title-tag">
                                <h4>Department</h4>
                                <button class="btn btn-danger btn-delete" (click)="deleteDepartmentTag()">Delete</button>
                            </div>
                            <div class="row" *ngFor="let department of departmentsTag">
                                <div class="well well-tag"
                                     [style.background-color]="getStyle(department.name,'department')"
                                     (click)="onSelectedDepartmentTag(department.name)"
                                >{{department.name}}</div>
                            </div>
                            <div class="input-group title-tag">
                                <input type="text" class="form-control"
                                       [(ngModel)]="valueDepartment"
                                       #newDepartmentTag>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            (click)="onAddDepartmentTag(newDepartmentTag.value)">Add</button>
                                </span>
                            </div>
                        </div>

                        <!--Industry-->
                        <div class="col-md-4">
                            <div class="title-tag">
                                <h4>Industry</h4>
                                <button class="btn btn-danger btn-delete" (click)="deleteIndustryTag()">Delete</button>
                            </div>
                            <div class="row" *ngFor="let industry of industriesTag">
                                <div class="well well-tag"
                                     [style.background-color]="getStyle(industry.name,'industry')"
                                     (click)="onSelectedIndustryTag(industry.name)"
                                >{{industry.name}}</div>
                            </div>
                            <div class="input-group title-tag">
                                <input type="text" class="form-control"
                                       [(ngModel)]="valueIndustry"
                                       #newIndustryTag>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            (click)="onAddIndustryTag(newIndustryTag.value)">Add</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>