<navbar-component></navbar-component>
<div class="container" *ngIf="!loading">

    <div class="row">
        <div class="col-md-6">

            <!--Logo-->
            <div class="row">
                <div class="col-md-3">
                    <img
                            *ngIf="apps.logo" [src]="apps.logo"
                            class="img-responsive img-responsive--logo" alt="apps.name">
                </div>
                <div class="col-md-9">
                    <h3>{{apps.name}}</h3>
                    <p>{{apps.company_name}}</p>
                    <div class="col-xs-2">
                        <span class="label label-default" *ngFor="let opt of languagesTag">{{opt?.name}}</span>
                    </div>
                </div>
            </div>

            <!--Description-->
            <div class="row">
                <div class="col-xs-12">
                    <p>{{apps.description}}</p>
                </div>
                <div class="col-xs-12">
                    <p>{{'Industries' | translate}}:
                        <span class="label label-default" *ngFor="let opt of industriesTag">{{opt?.name}}</span>
                    </p>
                </div>
                <div class="col-xs-12">
                    <p>{{'Departments'| translate}}:</p>
                            <span class="label label-default"
                                  *ngFor="let opt of departmentsTag; let index = index;">
                    {{opt?.name}}</span>

                </div>

            </div>

            <!--Pricing-->
            <h4>{{'Pricing'| translate}}</h4>
            <div *ngFor="let pricing of products.pricingmodels">
                <div *ngIf="pricing.id == 5">
                    <b>{{pricing.model}}</b> : {{pricing.other_model}}
                </div>
                <div *ngIf="pricing.id !== 1 && pricing.id !== 5">
                    <b>{{pricing.model}}</b> : {{pricing.price_start}} {{pricing.currency}} - {{pricing.price_end}}
                    {{pricing.currency}}
                </div>
                <div *ngIf="pricing.id == 1">
                    <b>{{pricing.model}}</b> : {{pricing.day}} {{'days' | translate}}
                </div>
            </div>

            <!--Features-->
            <div class="row feature">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#features">{{'Features'| translate}}</a></li>
                        <li><a data-toggle="tab" href="#minrequirement">{{'Minimum Requirements'| translate}}</a></li>
                        <li><a data-toggle="tab" href="#termsncond">{{'Terms & Conditions' | translate}}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="features" class="tab-pane fade in active">
                            <div *ngFor="let feature of features">
                                <li><p>{{feature?.text}}</p></li>
                            </div>
                        </div>
                        <div id="minrequirement" class="tab-pane fade">
                            <p>{{apps?.minrequirement}}</p>
                        </div>
                        <div id="termsncond" class="tab-pane fade">
                            <p>{{apps?.termsncond}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Left Content-->
        <div class="col-md-6">

            <!--Visit Website-->
            <div class="well">
                <button class="btn btn-default" (click)="visitWebsite(apps.name)">
                    <a target="_blank" href="{{apps?.purchase_link}}">{{'Visit Website'|translate}}</a></button>
            </div>


            <!--screen shot-->
            <div class="row">
                <div class="col-md-1">
                    <div (click)="onControl('minus')" class="btn_control">‹</div>
                </div>
                <div class="col-md-10">
                    <img src="{{selected}}" class="big-screenshot img-thumbnail img-responsive">
                </div>
                <div class="col-md-1">
                    <div class="btn_control" (click)="onControl('plus')">›</div>
                </div>
            </div>

            <!--myCarousel-->
            <div class="row">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="{{i == 0 ? 'item active': 'item'}}" *ngFor="let th of thumbnail; let i = index;">
                            <div class="row">
                                <div class="col-xs-3 col-md-3 col-md-3 carousel-thumbnail"
                                     *ngFor="let thum of thumbnail[i]; let j = index">
                                    <a><img [src]="thum" class="img-responsive" (click)="onSelect(thum, i, j)"></a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                    </div>
                    <!--/carousel-inner-->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <div class="arrow">‹</div>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <div class="arrow">›</div>
                    </a>
                </div>
                <!--/myCarousel-->
            </div>

            <!--About-->
            <div class="row" *ngFor="let developer_organization of developer_organization">
                <div class="well">
                    <h4>{{'About'| translate}}: {{developer_organization?.companyname}}</h4>
                    <p>{{'Based in'|translate}}: {{developer_organization?.city}}{{developer_organization?.state}},
                        {{developer_organization?.country}}</p>
                    <p>{{'Employees'|translate}}: {{developer_organization?.size}}</p>
                    <p>{{'Founded'|translate}}: {{developer_organization?.founded}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h4>{{'Leave a review'| translate}}</h4>
        <div class="row" *ngFor="let review of reviews">
            <div class="well">
                <a href="" class="pull-right">{{'Date' | translate}}: {{review?.created_at}}</a>
                <div class="pull-right">
                    <rating
                            class="rating"
                            [readonly]="true"
                            [(ngModel)]="review.rating"
                            [ngModelOptions]="{standalone: true}"
                            max="5"
                            stateOn="glyphicon-star"
                            stateOff="glyphicon-star-empty"
                            ngDefaultControl>
                    </rating>
                </div>
                {{review?.comment}}
            </div>
        </div>

        <div class="row row--content" *ngIf="!_authService.isLoggedIn()">
            <button class="btn btn-primary" (click)="goToRegister()">{{'Create an Account'|translate}}</button>
           {{'to see more reviews'| translate}}
        </div>

        <customer-review-service
                (success)="onSuccess($event)"
                [productId]="apps.id" ngDefaultControl></customer-review-service>

    </div>

</div>


